h1 {
  font-family: garamond;
  color: #2A4161;
}
p {
  font-family: helvetica;
  color: #17666D;
}
figure img {
  width: 30%;
  height: auto;
}

p img{
  border: 5px solid black;
  padding: 5px;
  margin-left: 40px;
  margin-bottom: 30px;
  float: right;
}

a {
  color: #2A4161;
  text-decoration: none;
}

ul {
  background-color: #2f2a61;
  list-style: none;
  padding: 0;
  width: 200px;
  border: 1px solid #15132c;
}

ul li a:hover {
  text-decoration: underline;
  color: #c1bee3;
}