h1 {
  font-family: garamond;
  color: #2A4161;
}
p {
  font-family: helvetica;
  color: #17666D;
}
figure img {
  width: 30%;
  height: auto;
}

p img{
  border: 5px solid black;
  padding: 5px;
  margin-left: 40px;
  margin-bottom: 30px;
  float: right;
}